* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 10px auto;
    font-family: "Lato";
    font-weight: 300;
  }
  
  .form {
    padding: 15px 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .chatbox-area {
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    background: #ffffff;
    height: 150px;
    width: 530px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
  }
  
  #userbox {
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    height: 50px;
    width: 530px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
  }
  
  #message-area{
    padding: 10px 25px;
  }
  
  .wrapper {
    margin: 0 auto;
    padding-bottom: 15px;
    background: #eeeeee;
    width: 600px;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .login-input{
    display: flex;
    flex-direction: column;
  }
  .login-input input{
    width: 150%;
  }
    
  .header-area {
    padding: 10px 10px;
    display: block;
    text-align: center;
  }
  
  .change-area {
    padding: 10px 10px;
    display: block;
    text-align: center;
  }
  
  #usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ff9800;
    padding: 2px 5px;
    resize: none;
    width: 100%;
  }
  
  #submitmsg {
    background: #ff9800;
    border: 2px solid #e65100;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .footer-area {
    padding: 10px 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .welcome{
    color: #e65100;
  }
  
  #buttonlist{
    padding: 10px 15px;
    display: block;
    
  }
  
  .userlist-area{
    padding: 5px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  form#message-area button{
    align-items:end;
    color: rgb(4, 0, 255)
  }
  
  #userlistUpdate{
    display: flex;
    justify-content: center;
    padding: 5px 15px;
  }